<template>
  <div>
    <v-toolbar color="indigo" dark fixed>
      <v-toolbar-title>Reto Cidenet</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn v-for="item in menu" :key="item.icon" :to="item.link" text>{{
          item.title
        }}</v-btn>
      </v-toolbar-items>
      <v-menu class="hidden-md-and-up">
        <v-list>
          <v-list-tile v-for="item in menu" :key="item.icon">
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
   
    <v-content>
      <v-container fluid fill-height>
        <v-flex>
          <v-card>
            <v-container>
              <v-layout row>
                <v-flex md-6>
                  <v-select
                    item-text="label"
                    item-value="value"
                    v-model="typeConection"
                    :items="[
                      {label: 'directa', value: 'directa'},
                      {label: 'semi-directa', value: 'semi-directa'},
                      {label: 'indirecta', value: 'indirecta'},
                    ]"
                    label="Tipo conexión"
                    solo
                  ></v-select>
                </v-flex>
                <v-flex md-6>
                  <v-select
                    item-text="label"
                    item-value="value"
                    v-model="typeStorage"
                    :items="[
                      {label: 'interno', value: 'interno'},
                      {label: 'externo', value: 'externo'},
                    ]"
                    label="Sistema almacenamiento"
                    solo
                  ></v-select>
                </v-flex>
                <v-flex md-6>
                  <v-text-field
                    v-model="searchSerial"
                    required
                    label="Serial"
                    solo
                  ></v-text-field>
                </v-flex>
                <v-flex md-6>
                  <v-btn @click="actionModal('add', 0, dialog=true)" color="primary">
                    <v-icon color="white" small>done</v-icon>
                    Crear registro
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-container>
            <v-data-table
              :footer-props="{
                'items-per-page-text':'Filas por página',       
              }"
              @click:row="seeModal"
              :headers="headers"
              :items="meters"
              :items-per-page="currentItemsPerPage"
              class="elevation-1"
              item-key="id"
              :server-items-length="filtrado?.total"
              v-on:update:options="paginate"
            >
              <template v-slot:item.action="{ item }">
                <v-btn-toggle>
                  <v-btn @click.stop="actionModal('edit', item.id, dialog=true)" color="warning">
                    <v-icon color="white" small>edit</v-icon>
                  </v-btn>
                  <v-btn color="error" @click.stop="deleteItemId(item.id)">
                    <v-icon color="white" small>close</v-icon>
                  </v-btn>
                </v-btn-toggle>
              </template>
            </v-data-table>
          </v-card>
        </v-flex>
        <div class="text-center">
          <v-dialog
            v-model="dialog"
            width="500"
          >
            <v-card>
              <v-card-title class="text-h5 grey lighten-2">
                {{action == 'add' ? 'Crear' : action == 'see' ? 'Ver' : 'Editar'}} 
                registro
              </v-card-title>
              <br>
              <v-form ref="form">
                <v-row>
                  <v-col
                    md="6"
                    sm="12"
                  >
                    <v-text-field
                      v-model="dataForm.serial"
                      required
                      label="Serial"
                      :rules="requiredRules"
                      solo
                    ></v-text-field>
                    <v-select
                      item-text="label"
                      item-value="value"
                      v-model="dataForm.connection_type"
                      :rules="requiredRules"
                      :items="[
                        {label: 'directa', value: 'directa'},
                        {label: 'semi-directa', value: 'semi-directa'},
                        {label: 'indirecta', value: 'indirecta'},
                      ]"
                      label="Tipo conexión"
                      solo
                    ></v-select>
                  </v-col>
                  <v-col
                    md="6"
                    sm="12"
                  >
                    <v-select
                      item-text="label"
                      item-value="value"
                      :rules="requiredRules"
                      v-model="dataForm.storage_system"
                      :items="[
                        {label: 'interno', value: 'interno'},
                        {label: 'externo', value: 'externo'},
                      ]"
                      label="Sistema almacenamiento"
                      solo
                    ></v-select>
                    <v-select
                      item-text="label"
                      item-value="value"
                      :rules="requiredRules"
                      v-model="dataForm.condition"
                      :items="[
                        {label: 'nuevo', value: 'nuevo'},
                        {label: 'usado', value: 'usado'},
                      ]"
                      label="Condición"
                      solo
                    ></v-select>
                  </v-col>
                  <v-col
                    md="6"
                    sm="12"
                  >
                    <v-select
                      item-text="label"
                      item-value="value"
                      v-model="dataForm.owner"
                      :rules="requiredRules"
                      label="Propietario"
                      :items="[
                        {label: 'RF', value: 'RF'},
                        {label: 'OR', value: 'OR'},
                      ]"
                      solo
                    ></v-select>
                    <v-text-field
                      :rules="requiredRules"
                      v-model="dataForm.location"
                      required
                      label="Locacion"
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col
                    md="6"
                    sm="12"
                  >
                     <v-text-field
                      v-model="dataForm.manufacturer"
                      :rules="requiredRules"
                      required
                      label="Manu factura"
                      solo
                    ></v-text-field>

                    <v-menu
                      v-model="datePurchase"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          :rules="requiredRules"
                          v-model="dataForm.purchase"
                          label="Fecha compra"
                          readonly
                          v-on="on"
                          solo
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="dataForm.purchase"
                        @input="datePurchase = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col
                    md="6"
                    sm="12"
                  >
                    <v-text-field
                      v-model="dataForm.i_max"
                      :rules="[...requiredRules, ...validateInt]"
                      label="i max"
                      solo
                    ></v-text-field> 
                    <v-text-field
                      v-model="dataForm.i_b"
                      :rules="[...requiredRules, ...validateInt]"
                      label="i b"
                      solo
                    ></v-text-field>
                  </v-col>
                  <v-col
                    md="6"
                    sm="12x"
                  >
                    <v-text-field
                      v-model="dataForm.i_n"
                      :rules="[...requiredRules, ...validateInt]"
                      label="i n"
                      solo
                    ></v-text-field> 
                    <v-text-field
                      v-model="dataForm.seals"
                      :rules="[...requiredRules, ...validateInt]"
                      label="Seals"
                      solo
                    ></v-text-field> 
                  </v-col>
                </v-row>

                <v-container v-if="action == 'see'">
                  <v-btn
                    color="warning"
                    @click="updateItemId"
                  >
                    Editar
                  </v-btn>
                  <v-btn
                    color="error"
                    class="mr-4"
                    @click="deleteItemId(idEdit)"
                  >
                    Eliminar
                  </v-btn>
                </v-container>
              </v-form>
          
              <v-divider></v-divider>

              <v-card-actions>
                <v-spacer></v-spacer>
                <template v-if="action == 'see'">
                  <v-btn
                    color="primary"
                    text
                    @click="dialog = false; $refs.form.resetValidation()"
                  >
                    Cerrar
                  </v-btn>
                </template>
                <template v-else>
                  <v-btn
                    color="success"
                    text
                    @click="saveItem()"
                  >
                    Guardar
                  </v-btn>
                  <v-btn
                    color="primary"
                    text
                    @click="dialog = false; $refs.form.resetValidation()"
                  >
                    Cerrar
                  </v-btn>
                </template>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
      </v-container>
    </v-content>
  </div>
</template>

<script>
import MetersService from "@/services/MetersService.js";
import Swal from "sweetalert2";

export default {
  name: 'Home',
  props: {
    msg: String
  },
  data: () => ({
    date_start_authorization: '',//new Date().toISOString().substr(0, 10),
    datePurchase: false,
    dataForm: {
      serial: '',
      connection_type: '',
      storage_system: '',
      condition: '',
      owner: '',
      location: '',
      manufacturer: '',
      purchase: "", 
      i_max: '',
      i_b: '',
      i_n: '',
      seals: '',
    },
    requiredRules: [
      v => !!v || 'Campo requerido',
    ],
    validateInt: [
      v => !!/^[0-9]*(\.?)[0-9]+$/.test(v) || 'Campo debe de ser un número',
    ],
    menu: [
      { icon: "prueba1", title: "Menú prueba 1" },
      { icon: "prueba2", title: "Menú prueba 2" }
    ],
    headers: [
      {
        text: 'Id',
        align: 'start',
        sortable: false,
        value: 'id',
      },
      { text: 'Serial', value: 'serial' ,sortable: false},
      { text: 'Tipo Conexión', value: 'connection_type' ,sortable: false},
      { text: 'Sistema almacenamiento', value: 'storage_system' ,sortable: false},
      { text: 'Condición', value: 'condition' ,sortable: false},
      { text: 'Propietario', value: 'owner' ,sortable: false},
      { text: 'Locacion', value: 'location' ,sortable: false},
      { text: 'Manufactura', value: 'manufacturer' ,sortable: false},
      { text: 'Fecha de compra', value: 'purchase' ,sortable: false},
      { text: "i_max", value: "i_max",sortable: false},
      { text: "i_b", value: "i_b",sortable: false},
      { text: "i_n", value: "i_n",sortable: false},
      { text:"seals", value: "seals",sortable: false},
      { text:"Fecha creación", value: "created_at",sortable: false},
      { text:"Acciones", value: "action",sortable: false},
    ],
    meters: [],
    dialog: false,
    search: "",
    filtrado: {},
    currentItemsPerPage: 10,
    meterEdit: {},
    idEdit: 0,
    action: "",
    typeConection: "",
    searchSerial: "",
    typeStorage: ""
  }),
  watch: {
    typeStorage() {
      this.paginate();
    },
    typeConection() {
      this.paginate();
    },
    searchSerial(){
      this.paginate();
    }
  },
  methods: {
    async seeModal(row){
      await this.actionModal('see', row.id, true)
    },
    getFilter(){
      return {
        ...(this.typeConection && { connection_type: this.typeConection}),
        ...(this.typeStorage && { storage_system: this.typeStorage}),
        ...(this.searchSerial && { serial: this.searchSerial }),
      };
    },
    paginate: async function (
      pagination = { sortBy: [], sortDesc: [], itemsPerPage: 10, page: 0 }
    ) {
      let { sortBy, sortDesc, itemsPerPage, page } = pagination;
      if(page != 0) page -= 1;
      this.currentItemsPerPage = itemsPerPage;
      await this.listItems({
        page,
        size: itemsPerPage,
        ...this.getFilter()
      });
    },
    async actionModal(action, id = 0, dialog = false){
      this.clearData();
      this.idEdit = id;
      this.dialog = dialog;
      if(action == 'edit' || action == 'see')
      {
        await this.getItemId();
      }
      this.action = action;
    },
    async saveItem(){
      let validate = this.$refs.form.validate()
      if(validate)
      {
        this.dialog = false; 
        if(this.action == 'add')
        {
          await this.createItem()
        }
        else if (this.action == 'edit')
        {
          await this.updateItemId()
        }
        this.paginate()
        //this.$refs.vuetable.reload()
      }
    },
    clearData(){
      this.dataForm = {
        serial: '',
        connection_type: '',
        storage_system: '',
        condition: '',
        owner: '',
        location: '',
        manufacturer: '',//??
        purchase: "", //??
        i_max: '',
        i_b: '',
        i_n: '',
        seals: '',
      };
      this.dialog = false;
      this.meterEdit = {};
      this.idEdit = 0;
      this.action = ""
    },
    listItems(options){
      MetersService.getItems("meters", options)
      .then(response => {
        this.meters = response.data.items
        this.filtrado = response.data
      })
      .catch((e) => {
        if(e.response.status != 404)
        {
          Swal.fire(
            "Error",
            "ha ocurrido un error al procesar la solicitud",
            "error"
          );
        }
        else
        {
          this.meters = [];
        }
      })
    },
    getItemId(){
      MetersService.getItemEdit("meters", this.idEdit)
      .then(response => (this.dataForm = response.data))
      .catch((e) => {
        Swal.fire(
          "Error",
          "ha ocurrido un error al procesar la solicitud",
          "error"
        );
      })
    },
    updateItemId(){
      MetersService.updateItem("meters", this.idEdit, this.dataForm)
      .then(response => {
        this.paginate();
        Swal.fire(
          'Actualizado!',
          'Tu registro se ha actualizado exitosamente.',
          'success'
        )
      })
      .catch((e) => {
        Swal.fire(
          "Error",
          "ha ocurrido un error al procesar la solicitud",
          "error"
        );
      });
      this.clearData();
    },
    deleteItemId(id){
      Swal.fire({
        title: 'Estas seguro de eliminar este registro?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, borralo!',
        cancelButtonText: 'Cerrar'
      }).then((result) => {
        if (result.isConfirmed) {
          MetersService.deleteItemId("meters", id)
          .then(response => {
            this.paginate();
            Swal.fire(
              'Eliminado!',
              'Tu registro ha sido eliminado.',
              'success'
            )
          })
          .catch((e) => {
            Swal.fire(
              "Error",
              "ha ocurrido un error al procesar la solicitud",
              "error"
            );
          });
          this.clearData();
        }
      })
     
    },
    createItem(){
      MetersService.createItem("meters", this.dataForm)
      .then(response => {
        this.paginate();
        Swal.fire(
          'Creado!',
          'Tu registro se ha creado exitosamente.',
          'success'
        )
      })
      .catch((e) => {
        Swal.fire(
          "Error",
          "ha ocurrido un error al procesar la solicitud",
          "error"
        );
      });
      this.clearData();
    },
    menuItems() {
      return this.menu;
    }
  }
}
</script>
