<template>
   <v-app id="inspire">
      <v-content>
         <v-container fluid fill-height>
            <v-layout align-center justify-center>
               <v-flex xs12 sm8 md4>
                  <v-card class="elevation-12">
                     <v-toolbar dark color="primary">
                        <v-toolbar-title>Iniciar Sesión</v-toolbar-title>
                     </v-toolbar>
                     <v-card-text>
                        <v-form>
                           <v-text-field
                              prepend-icon="person"
                              name="username"
                              v-model="dataLogin.username"
                              label="Login"
                              type="text"
                           ></v-text-field>
                           <v-text-field
                              v-model="dataLogin.password"
                              id="password"
                              prepend-icon="lock"
                              name="password"
                              label="Password"
                              type="password"
                           ></v-text-field>
                        </v-form>
                     </v-card-text>
                     <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" @click="login()">Login</v-btn>
                     </v-card-actions>
                  </v-card>
               </v-flex>
            </v-layout>
         </v-container>
      </v-content>
   </v-app>
</template>

<script>
import Swal from "sweetalert2";
export default {
   name: 'Login',
   props: {
      source: String,
   },
   data: () => ({
      dataLogin: {
         username: "",
         password: ""
      }
   }),
   methods: {
      login(){
         if (this.validateData())
         {
            window.localStorage.setItem("authUser", JSON.stringify(this.dataLogin));
            this.$router.push({ name: 'home' })
         }
         else
         {
            Swal.fire(
               "Error",
               "Las credenciales no coinciden",
               "error"
             );
         }
      },
      validateData(){
         return this.dataLogin.username == "admin" && this.dataLogin.password == "admin"
      }
   }
};
</script>

<style></style>
